[2015-10-02 12:35] labo-css opened #1 "Awesome package! But i have a suggestion"
First off, i'm really astonished i never saw something like that before, this is really good.
But the renderering kinda bother me, i like my brackets to be bright white, so i can see them.
What about introducing a setting where you can choose where the color is applied? In the bracket itself, on a background behind the bracket, an underline or even in the gutter.

I searched a bit in the source co

[2015-10-03 15:02] jrattray13 commented on #1
Thanks for your suggestion, i'll look into changing it into a default line under with option to change to full color.

With under line being coloured instead should be less rendering since it is a Atom api decoratio so perhaps it will be more responsive & improved. But idk I do like the full bracket color once you get used to it at a glance is great info fast. But nothing wrong with options :+1:

[2015-10-03 17:49] labo-css commented on #1
Thanx :+1:

[2015-10-06 13:00] olmokramer opened #2 "Opening bracket not colored in coffeescript string interpolation"
![swackets3](https://cloud.githubusercontent.com/assets/3612514/10308980/efdec534-6c39-11e5-87f4-f926e7862e93.png) ![swackets4](https://cloud.githubusercontent.com/assets/3612514/10308981/eff2b4f4-6c39-11e5-9a32-8d17b9d7478e.png)
![swackets5](https://cloud.githubusercontent.com/assets/3612514/10309027/5d38e2ae-6c3a-11e5-8ecd-df92d7cb40a0.png)

The images say it all... the opening bracket isn't col

[2015-10-06 17:35] jrattray13 commented on #2
Thanks i'll look into it asap :) Sorry for inconvience.

[2015-10-07 09:33] bordeltabernacle opened #3 "Support for parenthesis?"
It's be great if this also worked with parenthesis.  Would make working with Clojure a lot nicer.  Any thoughts on adding this?

[2015-10-08 19:05] lexicalunit commented on #1
Oh hay, I didn't notice this issue before I submitted #4. Should resolve this issue :)

[2015-10-08 21:46] jrattray13 commented on #3
Great suggestion, also had a friend mention this so will look into it.

However since I don't want it 'clashing' with the bracket colors perhaps I will make it toggle-able or just an setting, not default. -With fewer (but configurable) colours too.

[2015-10-09 01:49] cheunghy opened #5 "Use syntax table? rather than manual search span with text { }"
IMHO, manual search span for { and } is not efficient, and it's display code rather than model code.

I'm a new user to atom. I think there maybe some core model like syntax table and overlay. It may provide better performance and extensibility for example ruby use `def` and `end` rather than `{` and `}` when defining a method.

[2015-10-09 08:05] bordeltabernacle commented on #3
Oh great, toggle-able sounds good, I can see how it could clash with brackets and undermine their visual focus.  Could the brackets be toggle-able also do you think, so you could have the parens instead of brackets?

Or maybe that would be a different thing, (swarens) perhaps?

[2015-10-11 16:01] jrattray13 commented on #5
Yeah I know this is not ideal, currently swackets is just an experimental proof of concept.

There are two approaches which potentially will be better than manual search,

1) Decorations atom API currently this works well but does not allow you to add text-color to the marker overlay, only background color and underlining. I am looking into having decorations as a toggle-option feature in next rel

[2015-10-11 16:02] jrattray13 commented on #3
swarens... I like it :smirk: But not quite the same ring to it. We'll see how it goes when its toggle-able, perhaps there are some spare colors we can use :+1:

[2015-10-11 16:53] #2 closed

[2015-10-11 16:53] jrattray13 commented on #2
Should be fixed now 0.5.1

[2015-10-11 18:30] jrattray13 commented on #1
@labo-css I have looked into decorations this weekend (underline/highlight braces) to no success. First it looked 'off' you couldnt really achieve the same affect as I intended with swackets, underline barely visible and highlight/background too visible. Second since decorations api requires regex to identify where to place markers it showed the highlighting/underline for commented braces too, whi

[2015-10-11 18:30] #1 closed

[2015-10-12 07:30] olmokramer commented on #2
Awesome! Thanks :)

[2015-10-12 07:58] olmokramer commented on #3
You could even make them toggle-able on a per-scope basis :) So one could turn them off for JavaScript, but leave them on for other languages.

And while you're adding support for parens, could you also do the square brackets: `[]`? :grin:

[2015-10-13 01:43] cheunghy commented on #5
Thanks!

[2015-10-29 15:19] Spaghettification opened #6 "Swackets not working properly in CSS"
No clue at all as to why this would happen, but Swackets simply do not work in CSS projects.
    {
      {}
    }
The above will result in purple/white/purple/red.

[2015-10-30 16:09] jrattray13 commented on #6
Hmm weird, i'll look into it thanks!

Sorry for inbconvience.

[2015-11-03 21:19] jrattray13 commented on #6
I've looked into this thanks Spaghetti..

Unfortunately due to the way Atom tokenizes syntax it is unable to label braces in that format, it treats them as a property-list with the braces outside of the syntax (its very weird if you check text editor DOM inspect element) because of this inconvient syntaxing I cannot highlight them as braces under the current structure. I originally tried to identi

[2015-11-03 22:55] paradox460 opened #7 "Uncaught TypeError: _this.toggle is not a function"
1. Command Palette
2. Toggle Swackets

**Atom Version**: 1.1.0
**System**: Mac OS X 10.10.5
**Thrown From**: [swackets](https://github.com/jrattray13/swackets) package, v0.6.0

### Stack Trace

Uncaught TypeError: _this.toggle is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-11-13 19:17] LoganBarnett commented on #3
Instead of explicitly supporting `[]`, `()`, and others, maybe we could have a configurable matching characters setting so we can colorize any whacky syntax we like.

For example, a C#/Java-esque construct:
[code]

[2015-11-18 14:05] johngeorgewright commented on #3
:+1: for a per language, configurable selection of "swackets". Maybe in the future they could even be done with regexp? Then you could match all kinds of funcky things like html tags.

[2015-11-25 18:18] sjlevine commented on #3
Very nice package, thanks for your work!

I'd also like to voice my support for parenthesis coloring. I've been working on some Atom packages to make Atom more friendly for Common Lisp, and rainbow parentheses are a feature I really miss from Emacs.

Thanks again!

[2015-11-26 11:59] CiaranReen commented on #3
I also would like parenthesis support for this package please. +1

[2015-11-28 15:59] jrattray13 commented on #7
Sorry for delay, should be fixed in 0.8 release :+1:

[2015-11-28 16:00] #7 closed

[2015-11-28 16:01] jrattray13 commented on #3
Should be working now :+1: in 0.8 release, thanks and sorry for delay!

[2015-11-28 16:01] #3 closed

[2015-11-30 12:01] yakiang commented on #3
why can't it just support colorful brackets and parentheses both :cry:

[2015-11-30 14:44] jrattray13 commented on #3
I will possible add an option for both to be enabled this weekend, however I am hesistant due to the mass amount of color on the page but I will look into it (Perhaps also add another color to the mix too, not enough for both).

[2015-12-01 02:29] yakiang commented on #3
Thanks, look forward towards that!

[2015-12-02 04:14] wsmd opened #8 "Incorrect brackets matching when using 'language-babel'"
I recently started using the language package [language-bable](https://atom.io/packages/language-babel) (a.k.a Babel ES6 Javascript) and noticed that is not compatible with Swackets (or maybe the other way around... 😛)

When using 'Babel ES6 Javascript'...

<img width="622" alt="screen shot 2015-12-01 at 11 09 32 pm" src="https://cloud.githubusercontent.com/assets/2100222/11522040/d1b83f54-9880-11

[2015-12-02 08:05] jrattray13 commented on #8
Sorry to hear that, you must have a tough decision ahead of you :wink:

Aha, jk i'll look into it, probably some tokenizing of the babel, perhaps it's fixable let me get back to you. Sorry for inconvience.

[2015-12-27 17:01] maxkrieger opened #10 "Causing huge FPS lag in a react project"
I'm not sure if this warrants anything on your side, but this package ended up causing a huge amount of lag which was remedied by disabling it. This is in a react project which ends up using quite a lot of brackets.

[2016-01-12 23:46] mikeThurmond opened #11 "allow rainbow parens for parens and brackets"
In cljs it is nice to have rainbow parens, brackets, and curly braces.  Is this possible?  Currently I can only choose one or the other (parens and brackets, no curly braces) instead of having all three available (like emacs or cursive rainbow parens)

[2016-01-29 23:14] ibraimgm commented on #11
@mikeThurmond, please take a look at the pull request #12. It adds a 'All' option to color brackets, square brackets and parenthesis. Looks good to me.

@jrattray13, IMHO instead of a option list, the settings should use checkboxes for 'Brackets', 'Square brackets' and 'Parenthesis' (I didn't changed it because this would break the configuration of existing users).

I'm also thinking on simplifyin

[2016-02-01 16:40] a432a432 opened #13 "Uncaught TypeError: Cannot read property 'dataset' of null"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.4.1
**System**: Mac OS X 10.11.2
**Thrown From**: [swackets](https://github.com/jrattray13/swackets) package, v0.10.0

### Stack Trace

Uncaught TypeError: Cannot read property 'dataset' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-02-05 23:06] Rosseyn opened #14 "Doesn't respect folded code"
![screen shot 2016-02-05 at 3 04 06 pm](https://cloud.githubusercontent.com/assets/309113/12861656/ddf553e8-cc19-11e5-94c4-21df10052d54.png)

Screenshot should be self explanatory, but basically it looks like swackets isn't seeing the closing bracket when it's folded and changes the color of the next opening bracket.

[2016-02-09 23:25] laughedelic opened #15 "Uncaught TypeError: Cannot read property 'querySelector' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.6.0-beta0
**System**: Mac OS X 10.11.1
**Thrown From**: [swackets](https://github.com/jrattray13/swackets) package, v0.10.0

### Stack Trace

Uncaught TypeError: Cannot read property 'querySelector' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-02-11 01:23] alexchandel opened #16 "Add parentheses and brackets"
This package would be *extremely* useful for lisp, except that lisp uses parentheses (and optionally brackets in Scheme).

Please add the option to rainbow these as well.

[2016-02-12 14:49] jjcomer commented on #16
+1

[2016-02-12 14:50] CiaranReen commented on #16
+1

[2016-02-15 10:23] evgenykochetkov commented on #16
+1

[2016-02-16 18:19] alexchandel commented on #11
@ibraimgm I agree with checkboxes instead of "All". I don't want them on braces, for example, just Brackets and Parentheses.

[2016-02-16 18:21] alexchandel commented on #16
@jrattray13 Quite a popular issue.

Also related: #11 and #12

[2016-02-17 19:33] maackle commented on #16
If merged, this is going to make this package very popular with the lisp/Clojure community. Currently there is no other "rainbow parens" package for Atom.

[2016-02-17 20:13] alexchandel commented on #16
@maackle unfortunately @ibraimgm needs to rebase (and update) his pull request on #12 before this can happen.

[2016-02-18 19:48] alexchandel opened #17 "Line flickers after every keypress in Atom 1.5.3"
Swackets causes a line with colorized parentheses/brackets/braces to flicker colorless after every keypress in Atom 1.5.3.

[2016-02-19 09:06] jrattray13 commented on #17
Unfortunately thats a implementation issue (Due to there being no native Atom API for colouring text) cannot be fixed until there is a better way of colouring text sorry :( I'm hopeful Atom will add it in later versions though...

[2016-03-09 17:55] Misophistful commented on #16
+1 Clojure coding in atom needs this.

[2016-03-09 20:34] ibraimgm commented on #16
Sorry by the delay. Not much time for coding on the last weeks.
Anyway, it's working, BUT I found two issues.

First, not every language will react well:
![sample1](https://cloud.githubusercontent.com/assets/2395179/13649317/dcb7242c-e61b-11e5-8bbd-f7bc11f2ca16.png)

For what I understand, this happens because C does not really distinguish parentheses and square brackets like javascript does.

The

[2016-03-17 15:17] alexchandel commented on #16
I think the second issue of non-matching delimiters is ok for now.

But I don't understand what causes the first issue.

[2016-03-22 20:39] c10b10 commented on #15
+1

[2016-03-23 09:00] radu-arimatrix commented on #15
Happens when I try to move a file from one pane to another or when simply opening a file.

[2016-04-15 11:13] AfroSpartan opened #18 "Swackets highlights brackets in strings"
Swackets seems to pick up brackets in strings (In PHP anyway).
I noticed that atom seems to link brackets regardless of if they are in a string or not. Im not sure if that is something to do with it or not. (I'm on Atom 1.7.0)

![screen shot 2016-04-15 at 11 50 53](https://cloud.githubusercontent.com/assets/5478322/14559420/78ea758c-0300-11e6-8a73-b11da394c796.png)

I also noticed another bug whil

[2016-04-18 11:40] ibraimgm commented on #16
@alexchandel the implementation (as described in the last comment I made) is rebased and available at #19. Sorry for the waiting.

[2016-04-21 21:16] stugol opened #20 "Totally broken"
Just look at this malarkey:
![screen shot 2016-04-21 at 22 14 33](https://cloud.githubusercontent.com/assets/1113153/14724513/93b39d2c-080e-11e6-9c9e-b049419621e3.png)
You're supposed to colour the _parens_, not the damn text!

[2016-08-12 06:56] #16 closed

[2016-09-01 14:51] carb0nknight commented on #15
I am experiencing the same issue @radu-arimatrix described, error is triggered when moving a file from one pane to another. Error will continue to fire everytime the  tab for that specific file is active, until closing and re-opening the file.

[2016-09-13 18:05] sidhire commented on #14
Same goes with soft wrap.

[2016-10-13 14:51] dkniffin opened #21 "Thrown off by ruby's string interpolation brackets"
The swackets logic seems to be thrown off by ruby's string interpolation brackets (`#{}`):

![image](https://cloud.githubusercontent.com/assets/1680080/19353868/c6c11c32-9132-11e6-8f8e-e3e113bc2864.png)

As you can see, the second line renders fine, but the first doesn't recognize the `#{` as an open bracket.

This could probably also be fixed by resolving #18, and not trying to match any brackets

[2016-10-13 20:24] Charlotteis commented on #21
@dkniffin mind adding '${' to your PR to fix the new JS string interpolation too? :D

[2016-10-14 12:49] dkniffin commented on #21
@Charlotteis 👍 I added that one as well.

[2016-10-14 14:48] Charlotteis commented on #21
@dkniffin thanks!

[2016-10-14 19:42] #21 closed

[2016-10-19 14:30] dkniffin commented on #21
Hmm. Now that this is fixed, I'm noticing a broader issue. Swackets is actually thrown off by an "special" brackets.

Some examples:

![image](https://cloud.githubusercontent.com/assets/1680080/19522934/f2659184-95e6-11e6-9cb0-6a95f44a531b.png)

I'm gonna take a stab at fixing these cases as well.

[2016-10-29 18:00] Eldar-X opened #24 "Not working in beta 1.12.5"
[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 1.12.0-beta5
**Electron Version**: 1.3.6
**System**: Mac OS X 10.12.1
**Thrown From**: [swackets](https://github.com/jrattray13/swackets) package, v0.12.0
### Stack Trace

Failed to activate the swackets package

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2016-11-01 15:03] skamansam commented on #24
I am getting the same error, on Fedora 24 Linux.

[2016-11-02 02:11] ryanmagoon commented on #24
+1, MacOS 10.12.1

[2016-11-03 04:44] mattgabor commented on #20
+1, it changes colors when I scroll...this is with lisp.

[2016-11-10 08:30] grma1 commented on #24
+1, Atom: 1.12.0 release build, swackets: 0.12.0

[2016-11-10 09:24] dario-zubovic commented on #24
+1, Atom 1.12.0 on Windows 10, swackets build 0.12.0

[2016-11-10 13:54] cbilliau opened #25 "Failed to activate the swackets package"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.12.0
**Electron Version**: 1.3.6
**System**: Mac OS X 10.11.6
**Thrown From**: [swackets](https://github.com/jrattray13/swackets) package, v0.12.0

### Stack Trace

Failed to activate the swackets package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-11-10 14:03] cbilliau commented on #25
sorry. Atom sccessfully did a rebuild.

[2016-11-10 14:43] Arcath commented on #25
I'm getting the same issue. @cbilliau what did you do to fix it?

[2016-11-10 14:44] cbilliau commented on #25
Sorry. The same error is back now.

[2016-11-10 15:09] Arcath commented on #25
This is the same issue as #24

[2016-11-10 15:10] cbilliau commented on #25
ok. ill note that and close it. thanks
Chris Billiau
christopher@billiau.com

[2016-11-10 15:11] cbilliau commented on #25
This is the same issue as #24

[2016-11-10 15:11] #25 closed

[2016-11-10 19:51] Jakub41 commented on #25
Hello I have this error and also after rebuild is not working:
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.12.0
**Electron Version**: 1.3.6
**System**: Ubuntu 16.04.1
**Thrown From**: [swackets](https://github.com/jrattray13/swackets) package, v0.12.0

### Stack Trace

Failed to activate the swackets package

[code]

### Commands

[code]

### Config

[code]

### Installed

[2016-11-11 03:06] rayk commented on #25
[Enter steps to reproduce below:]

1. Just starting up atom...
2. Swackets fails with.. Invalid regular expression: /(?<!\\)(?:[$%#].?)?[\{\(\[]/: Invalid group

**Atom Version**: 1.12.1
**Electron Version**: 1.3.6
**System**: Mac OS X 10.12.1
**Thrown From**: [swackets](https://github.com/jrattray13/swackets) package, v0.12.0

### Stack Trace

Failed to activate the swackets package

[code]

###

[2016-11-11 08:48] maxpower9000 commented on #24
+1, Atom 1.12.1 on Win 7 Pro, swackets 0.12.0

[2016-11-11 09:00] khaledMohammed000 opened #26 "I keep on getting this every time i open a new Atom window . I copied the Stack trace.. Please have a look:)"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.12.0
**Electron Version**: 1.3.6
**System**: Microsoft Windows 10 Home
**Thrown From**: [swackets](https://github.com/jrattray13/swackets) package, v0.12.0

### Stack Trace

Failed to activate the swackets package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-11-11 11:59] palfrey commented on #26
Another instance of #24 I think?

[2016-11-11 12:00] palfrey commented on #24
This looks like it was caused by #23, specifically the `notEscapedModifier`. Commented out that bit and the problem went away locally.

[2016-11-11 12:03] palfrey commented on #24
AFAIK negative lookbehinds aren't supported by Javascript at all. http://stackoverflow.com/questions/641407/javascript-negative-lookbehind-equivalent suggests some workarounds but not sure if any of those will work here. Any thoughts @dkniffin?

[2016-11-11 13:15] dkniffin commented on #24
Hmm. Odd. If it's not supported in javascript at all, I'm curious why this works on my machine. I will definitely look into it.

[2016-11-12 07:49] amandeepmittal opened #27 "Swackets Package v0.12.0 does not activate when starting Atom 1.12.0"
Gives an error:

[code]
Show Stack Race:
[code]

Atom Version: `1.12.0`
macOS :`10.12.1`
Thrown From: swackets package, `v0.12.0`

[2016-11-12 17:48] petruciucur commented on #27
Error on Atom 1.12.0

SyntaxError: Invalid regular expression: /(?<!\\)(?:[$%#].?)?[\{]/: Invalid group
    at RegExp (native)
    at SwacketsView.module.exports.SwacketsView.config (file:///C:/Users/Pety/.atom/packages/swackets/lib/swackets-view.coffee:64:26)
    at new SwacketsView (file:///C:/Users/Pety/.atom/packages/swackets/lib/swackets-view.coffee:13:19)
    at Object.activate (file:///C:/U

[2016-11-13 03:06] dkniffin commented on #24
I've got a fix up at #28, which removes those regexes.

[2016-11-13 03:06] dkniffin commented on #27
This is probably related to #24, which will be fixed by #28

[2016-11-13 03:10] dkniffin commented on #26
Yep, I believe this should be resolved once #28 is merged.

[2016-11-13 06:39] khaledMohammed000 commented on #26
Thank you very much since every time i launch a new instance i dont like those messages Btw great package :)

[2016-11-14 09:49] #24 closed

[2016-11-14 10:23] jrattray13 commented on #27
should be fixed in v0.12.1 let me know if not :)

[2016-11-14 10:23] #27 closed

[2016-11-14 10:24] jrattray13 commented on #26
should be fixed in v0.12.1 let me know if not :)

[2016-11-14 10:24] #26 closed

[2016-11-14 11:22] amandeepmittal commented on #27
Yes it did. @jrattray13 Thanks for the new patch!

[2016-11-15 09:37] 8-uh opened #29 "Deprecated selector in `swackets/styles/swackets.less`"
In `swackets/styles/swackets.less`:

Starting from Atom v1.13.0, the contents of `atom-text-editor` elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using `:host` and `::shadow` pseudo-selectors, and prepend all your syntax selectors with `syntax--`. To prevent breakage with existing style sheets, Atom will automatically upgrade the following selectors:

[2016-11-15 21:29] BenSandeen opened #30 "Changes color of variables and other stuff"
See attached screenshot.  For some reason, text inside parentheses of if-else statements (in C++, to be clear) and for loops is given either a very bright yellow or bright green color, making it quite difficult to see.

Additionally, like the parentheses/brackets/braces themselves, this text changes colors as I scroll up and down.

![swackets colors variables](https://cloud.githubusercontent.com/a

[2016-11-19 08:10] dbkaplun opened #31 "Feature request: !important option on settings page"
Looking at the generated styles in Atom inspector:
[code]
This is a fairly unspecific declaration which could be overridden by a theme pretty easily. Some themes have particularly specific selectors for brackets, like [Duotone Dark Syntax](https://github.com/simurai/duotone-dark-syntax) and [family](https://github.com/simurai/duotone-syntax/blob/aba8cd1c4e15664739f1e7ce23bfa8213338a4c3/styles/lang

[2016-11-20 18:19] khaledMohammed000 commented on #26
Fixed :)

[2017-01-12 20:08] DonRichards commented on #29
Same issue.

[2017-01-17 23:35] arjunsrinivasan1997 opened #33 "Swacktes Issuse"
Swacktes has totally stopped working on my machine. It  will not highlight parenthesis, brackets or square brackets. For instance
![screen shot 2017-01-17 at 3 34 09 pm](https://cloud.githubusercontent.com/assets/25167567/22044630/78eefcd4-dcca-11e6-9c94-c9c766fd4950.jpg)
I am running atom 1.13.0. Has anyone else had this issue?

[2017-01-17 23:37] arjunsrinivasan1997 commented on #29
I have had the same issue.

[2017-01-17 23:37] #33 closed

[2017-02-02 14:13] peregrinogris commented on #29
@jrattray13 I think I fixed this in #34, would you like to take a look at the PR?

[2017-02-02 14:13] jrattray13 commented on #29
Sure i'll give it a try asap thanks for investigating

[2017-02-02 17:24] #29 closed

[2017-02-03 11:31] jrattray13 commented on #20
@mattgabor v0.26.0 should fix the changing colors when scrolling (but not sure about the mess above -blame atom's grammar/tokenizer :P )

[2017-02-03 12:57] TeeJay-net opened #35 "Not working properly in PHP"
Some time ago (it could be a month or two), Swackets stopped working properly in PHP files.
I've done some testing and it **works only for square brackets**, not for brackets and not for parentheses.
Seems to work fine in java.

See the screenshot, all the options in settings are checked and default colours are used.
![image](https://cloud.githubusercontent.com/assets/5937902/22592133/7ba1a7f0-ea1

[2017-02-03 17:43] calebmeyer commented on #11
I think this one can be closed. I just downloaded swackets, and there are options for all three delimiters now.

[2017-02-03 19:28] calebmeyer opened #36 "Incorrect highlighting in React component (.js.jsx file)"
I was working on a React component today and noticed this behavior:

![2017-02-03 13_27_23-test js jsx c__users_cm022291_ruby_workspace_team_healtheanalytics atom](https://cloud.githubusercontent.com/assets/3342777/22605226/8ba3f954-ea14-11e6-928c-c073b77f2e57.png)

![2017-02-03 13_26_36-store](https://cloud.githubusercontent.com/assets/3342777/22605209/72ca70b6-ea14-11e6-8736-5293e96685b2.png)

I

[2017-02-03 20:22] AnthonyMichaelc opened #37 "I am getting deprecated call"
When firing up Atom I am getting this plugin as a deprecated call and even after the latest update the plugin is not changing the colors of the brackets. I am experiencing this in a javascript page and in css.

OSX atom 1.13.1

[2017-02-23 19:05] robcazin commented on #25
same here. still broken

![screen shot 2017-02-23 at 2 04 58 pm](https://cloud.githubusercontent.com/assets/15057009/23274550/23c0267e-f9d1-11e6-97b1-5a3d9b479df4.png)

[2017-03-13 22:14] lucasriondel opened #38 "Not working anymore"

[2017-03-13 22:22] #38 closed

[2017-03-20 03:27] AlJohri commented on #15
hi @jrattray13 I think this error is pretty reproducible. Just open the Settings View and you should see it happen.
![screen shot 2017-03-19 at 11 27 30 pm](https://cloud.githubusercontent.com/assets/2790092/24087985/a40a0a4c-0cfb-11e7-90c2-2ea38cb36130.png)

[2017-03-21 17:53] g-uru opened #39 "not working in .java"
not working in .java

[2017-04-03 19:57] dane-johnson commented on #39
Works fine for me. Steps to reproduce?

[2017-04-04 09:48] ex-jedi opened #40 "Brackets Change Colour On Scroll"
![universal scss c__users_mark_documents_web design local_host_katephoenix atom 04_04_2017 10_12_59](https://cloud.githubusercontent.com/assets/3149496/24651001/0a7103d8-1924-11e7-9cad-e1701df1aadb.gif)

[2017-04-21 01:30] AlJohri commented on #15
Hm, just re-installed. Can't seem to reproduce. Not sure what the issue was.

Atom: 1.15.0
swackets: 0.26.0

[2017-04-21 02:17] AlJohri commented on #40
I just experienced this same issue while using swackets with clojure. I found its related to comments or comment blocks in some way.

[2017-04-21 02:19] AlJohri commented on #40
Notice how in the screenshots below, text that is commented out is getting highlighted. I think this contributes to the issue.

Before Scrolling:

![screen shot 2017-04-20 at 10 18 07 pm](https://cloud.githubusercontent.com/assets/2790092/25259969/4c10db4c-2617-11e7-82f7-c2ace9982673.png)

After Scrolling:

![screen shot 2017-04-20 at 10 18 19 pm](https://cloud.githubusercontent.com/assets/2790092

[2017-04-27 15:41] r1z1a opened #42 "Brackets { is out of sync with } when blocks of code get collapsed inside"
As shown in images, when everything is fully expanded, works great.
If you collapse some of the code blocks it seems to lead to them being out of sync, ie should show purple, and blue. but has blue and green, so it don't register the outermost { and sees the other ones where the code is getting collapsed.

This is just a sample but this can be rather frustrating when you have a lot of nesting

![b

[2017-04-27 20:52] AlJohri commented on #15
Just added a few more packages and it's back!

[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.16.0 x64
**Electron**: 1.3.13
**OS**: Mac OS X 10.12.4
**Thrown From**: [swackets](https://github.com/jrattray13/swackets) package 0.26.0

### Stack Trace

Uncaught TypeError: Cannot read property 'querySelector' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-04-27 20:59] AlJohri commented on #15
I added `return if !sortedLineGroups[0]` to line 110 of `swackets-view.coffee` and I think it went away. ¯\_(ツ)_/¯

[2017-05-09 12:15] bsussman commented on #42
As image shows, **blocks do not have to be collapsed** - opening and closing parens not matched in color:

![swakerr](https://cloud.githubusercontent.com/assets/87822/25850208/642b6a0e-348f-11e7-90be-ea14d955746f.png)

[2017-06-01 11:26] PixelT commented on #13
+1

[2017-06-01 22:46] Liath commented on #40
If only I could reliably trigger this, it's like coding in a disco!

[2017-06-13 09:10] b8e5n opened #43 "colors the text within the brackets"
with R syntax, the rounded brackets and the default colour gets colored by the upper curly brackets. The text should keep its colour, and the rounded brackets should have their own.

[2017-06-15 19:03] hpohlmeyer commented on #13
Steps to reproduce

1. Install the beta
2. Open Atom

**Atom**: 1.19.0-beta0 x64
**Electron**: 1.6.9
**OS**: Mac OS X 10.12.5
**Thrown From**: [swackets](https://github.com/jrattray13/swackets) package 0.26.0

### Stack Trace

Uncaught TypeError: Cannot read property 'dataset' of null

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-07-12 08:36] laughedelic commented on #15
@jrattray13 are you going to fix it?

[2017-08-03 08:00] laughedelic opened #44 "Highlights comments having a brace at the end"
![screen shot 2017-08-03 at 9 53 14 am](https://user-images.githubusercontent.com/766656/28911736-d645293c-7831-11e7-9384-38688392ecce.png)
(example with Scala grammar)

As you see on the screenshot, braces at the end of the comment lines sync with the braces outside and make the whole comment line get highlighted.

Atom 1.18
Swackets 0.26.0

[2017-08-08 21:47] mnort9 commented on #13
+1

[2017-08-08 22:33] MrDotDarko commented on #13
+1

[2017-08-09 00:23] compassioncrumb commented on #13
+1

[2017-08-09 10:29] steals commented on #13
+1
Atom 1.19 was released yesterday. Therefore this error start affecting all users now who upgraded to the latest atom.

[2017-08-09 11:21] thiemo commented on #13
+1
on Atom 1.19.0 x64

[2017-08-09 16:06] nasyxx opened #45 "Uncaught TypeError: Cannot read property 'dataset' of null"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.19.0 x64
**Electron**: 1.6.9
**OS**: Mac OS X 10.13
**Thrown From**: [swackets](https://github.com/jrattray13/swackets) package 0.26.0

### Stack Trace

Uncaught TypeError: Cannot read property 'dataset' of null

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-08-09 16:31] aero-no1-ks opened #46 "display vanishes"
from today, once I click the editor, everything vanishes...

[2017-08-10 04:59] yhmgood0130 commented on #13
Having issue with this with latest version of atom

[2017-08-10 05:01] yhmgood0130 opened #47 "Uncaught TypeError: Cannot read property 'dataset' of null"
/Users/Yang/.atom/packages/swackets/lib/swackets-view.coffee:111

TypeError: Cannot read property 'dataset' of null
    at SwacketsView.module.exports.SwacketsView.sweatifyLineGroups (/Users/Kik/.atom/packages/swackets/lib/swackets-view.coffee:111:57)
    at SwacketsView.module.exports.SwacketsView.sweatify (/Users/Kim/.atom/packages/swackets/lib/swackets-view.coffee:90:10)
    at /Users/Kim/.atom

[2017-08-10 06:49] solobat commented on #47
+1

[2017-08-10 09:18] hvmiller commented on #46
I'm having the same issue since updating other packages

[2017-08-10 10:55] digitalsms commented on #46
Also getting this with 1.19 x64 stable on Win7. There's no error message, the display just immediately goes blank once you click inside the editor.

That, or I'll get the uncaught TypeError from bug #47.

[2017-08-10 14:54] dbledayr commented on #46
Appears in affiliation with the 1.19 release which has huge changes to rendering. Sucks to have to click the disable button, but work must get done.

[2017-08-10 19:42] jrattray13 commented on #46
Yep sorry, will try to investigate this weekend

[2017-08-10 20:44] Wombosvideo commented on #47
This error even makes it unable to use atom properly. Deinstalled for now, keep me posted.

[2017-08-11 00:30] opponitur commented on #47
+1

[2017-08-11 05:25] amandeepmittal commented on #47
+1

[2017-08-11 12:05] pankajso commented on #47
+1

[2017-08-11 13:55] Foxford13 commented on #47
+1

[2017-08-11 21:55] mixn commented on #47
+1

[2017-08-12 01:54] NickCelaya commented on #47
+1

[2017-08-12 02:05] shikelong commented on #46
Yes. After Atom 1.19, swackets will cause text disappear after click on the editor.

[2017-08-12 09:10] azz0r commented on #47
+1

[2017-08-12 14:19] sultanhq commented on #47
+1

[2017-08-12 15:31] HRSAstro commented on #47
+1

[2017-08-12 18:58] Alnoa commented on #47
+1

[2017-08-14 09:29] bkazmer commented on #47
+1

[2017-08-14 13:31] arcs- commented on #47
+1

[2017-08-14 15:20] KCN8 commented on #46
I've had a bunch of friends and myself have the same issue, particularly after merge conflicts. I dig swackets though. I hope this gets fixed! Thanks for putting it out there in the first place.

[2017-08-14 18:45] DonRichards commented on #47
+1

[2017-08-14 20:03] carb0nknight commented on #47
+1

[2017-08-15 14:41] MiguelDotL commented on #47
+1

[2017-08-16 04:54] pankajso commented on #47
Quick work around to use atom, remove the swackets package.
`Menu -> Atom -> Preferences... -> Packages -> `
Then look for `swackets`,  next step is to `Disable` it **OR** `Uninstall` it
Now you are ready to use Atom without this error.
You can enable this package once this issue is fixed.
I hope this helps

[2017-08-16 13:29] bsussman commented on #47
for those of use who cannot disable from within atom (I am on 1.19.1 and swackets makes input impossible because it throws alerts when I  try):
`apm disable swackets` at the commandline works :)

[2017-08-17 02:52] benativeun opened #49 "Uncaught TypeError: Cannot read property 'dataset' of null"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.19.2 x64
**Electron**: 1.6.9
**OS**: Mac OS X 10.12.6
**Thrown From**: [swackets](https://github.com/jrattray13/swackets) package 0.26.0

### Stack Trace

Uncaught TypeError: Cannot read property 'dataset' of null

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-08-17 07:38] nwootton commented on #47
+1

[2017-08-17 15:12] simnim commented on #49
I had to uninstall the package to get atom to work.

When searching for the package in the package list so that I could uninstall it the text input worked BUT WAS INVISIBLE.

One can disable the package with `apm disable swackets` as another user figured out in the other almost identiacal issue thread.

[2017-08-26 05:18] graphicagenda commented on #13
I just commented those two lines on ~110 & ~111, I commented out the lines and restarted Atom myself. worked on 1.19.0 x64

It started switching colors every second endlessly after scrolling to the bottom. So it isn't really fixed.

[2017-08-29 16:01] AfroSpartan commented on #47
This seems to cause the editor to be set to 'display:none;' so you can't actually use atom.

[2017-09-04 16:11] EthanBannister commented on #46
I also had to disable this due to the vanishing text within the editor.  It's too bad.  This was really a top-notch package for Atom.

I will keep a lookout in case a fix created.

[2017-09-06 18:25] kirillseva opened #51 "Any alternatives available?"
Once you start using swackets you can't really go back. But seeing that https://github.com/jrattray13/swackets/pull/50 is still under review for weeks, it looks like the dev is too busy with real life or other commitments, and the project is basically abandoned.

Who has moved on to other plugins? Maybe there is a working fork? Share your recommendations in this issue

[2017-09-06 21:41] rossHarrisonLevine opened #52 "Doesn't work on parens"
Love this, and works great on barckets. Doesn't work on parens or square for me even with the settings altered. I write in C which rarely has more than one set of brackets per function so I don't get much rainbow as much as purple brackets.

[2017-09-10 19:19] alelouar opened #53 "there is a bug with swackets package"
when I install the swackets package this automatically deletes all my data in the index.html file.
my index.html file is not responding even my close atom and I reopen it.
when I uninstall swackets package after all is fine my index.html is responding well, so I think there is a problem with the swackets _package._

[2017-09-11 21:34] jrattray13 commented on #53
Should be fixed now update swackets and atom! Let me know please thanks!

[2017-09-11 21:34] #53 closed

[2017-09-11 21:37] jrattray13 commented on #51
Should be fixed now update swackets and atom! Let me know please thanks! Sorry for inconvience, been busy!

[2017-09-11 21:37] #51 closed

[2017-09-11 21:37] jrattray13 commented on #49
Should be fixed now update swackets and atom! Let me know please thanks! Sorry for inconvience, been busy!

[2017-09-11 21:37] #49 closed

[2017-09-11 21:37] jrattray13 commented on #47
FINALLYYYYYY some spare time!

Should be fixed now update swackets and atom! Let me know please thanks! Sorry for inconvience, been busy!

[2017-09-11 21:37] #47 closed

[2017-09-11 21:38] jrattray13 commented on #46
Should be fixed now update swackets and atom! Let me know please thanks! Sorry for inconvience, been busy!

[2017-09-11 21:38] #46 closed

[2017-09-11 21:39] jrattray13 commented on #40
Let me know if latest Swackets v0.35 does anything to aide/worsen it, thanks!

[2017-09-11 21:56] bsussman commented on #51
Works for me - atom 1.19.7 and 1.20.0-beta7

[2017-09-11 22:08] alelouar opened #54 "thank you swacket is working now without bug"

[2017-09-12 14:22] Nfinished commented on #40
@jrattray13 Definitely still happening.

![image](https://user-images.githubusercontent.com/1719791/30330878-3c3996f6-97a4-11e7-80cd-3c5ace9acf13.png)

[2017-09-12 21:08] aero-no1-ks commented on #46
It works! Thank you :)

[2017-09-13 17:15] kirillseva commented on #51
@jrattray13 you the best. Let me know if/how I can buy you a beer

[2017-09-14 00:41] lmcgrath commented on #13
+1
Atom 1.20.0 on macOS. The editor is virtually unusable.

[2017-09-15 15:29] Wombosvideo commented on #47
Great, thank you 👍

[2017-09-16 03:32] amandeepmittal commented on #47
Thanks.

[2017-09-25 07:49] ex-jedi commented on #40
@jrattray13 Yep, still happening for me too I'm afraid.

![Swackets bug](https://media.giphy.com/media/10k1hkCDID4ltm/giphy.gif)

[2017-09-25 10:19] AlJohri commented on #40
It seems like it has to do with comments getting interpreted as actual code and messing with the colors

[2017-10-04 01:59] AlJohri commented on #40
@jrattray13 would a file where this reproducibly occurs help?

[2017-10-31 20:56] maxbrunsfeld opened #55 "Changes to TextEditor.onDidChange and TextBuffer.onDidChange coming in Atom 1.23"
Hi! Thanks for maintaining the swackets package!

In Atom v1.23, we will [some](https://github.com/atom/text-buffer/pull/273) [changes](https://github.com/atom/text-buffer/pull/274) that may affect your package.

The methods `TextEditor.onDidChange` and `TextBuffer.onDidChange` will now call their callbacks *less frequently*. Previously, these callbacks would get called once for each individual ch

[2017-12-14 09:34] CarlosRGL commented on #40
this bug is still present. Shame because its really nice.

[2018-01-11 13:36] jasonrudolph commented on #52
I was confused about this at first as well. It turns out that you can enable coloring for parenthesis in the package's settings:

![](https://user-images.githubusercontent.com/2988/34828086-58e74e64-f6aa-11e7-80f9-1e6b164146aa.png)

[2018-01-15 15:19] zslabs opened #56 "JS comments actin' a fool"
👋

Thanks for building this! I noticed one oddity while using this with single-line comments that span over multiple lines:

<img width="670" alt="screen shot 2018-01-15 at 10 15 42 am" src="https://user-images.githubusercontent.com/1018402/34949183-649f5752-f9dd-11e7-88f8-fe5819f69d69.png">

If this is switched to the block level way, things seem to work okay:

<img width="656" alt="screen shot 2

[2018-01-15 15:30] Nfinished commented on #56
Do you really use that font

[2018-02-03 01:37] CaffeinatedTech commented on #40
Yeah it looks like it is choosing colours at random instead of having set colours per depth level.  Like for instance 1st level green, 2nd level yellow, 3rd level orange etc.

Is it only colouring what is visible, or is it doing the whole file?

[2018-02-11 16:40] Sod-Almighty commented on #20
Now it doesn't work _at all_ in lisp files. Great. Gonna use `rainbow-delimiters` instead.

[2018-02-13 12:42] BeastyBlacksmith commented on #52
But it doesn't seem to work very well.
![bildschirmfoto 2018-02-12 um 15 43 42](https://user-images.githubusercontent.com/18145188/36150327-93c08cd4-10c3-11e8-97a5-11289b35561c.png)

[2018-04-18 18:50] morfal commented on #43
I also have the same issue, when their are brackets in a php comment for instance.

[2018-05-01 18:10] MrTweedy opened #57 "Uncaught TypeError: Cannot read property 'dataset' of undefined"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.26.1 x64
**Electron**: 1.7.11
**OS**: Mac OS X 10.13.4
**Thrown From**: [swackets](https://github.com/jrattray13/swackets) package 0.35.0

### Stack Trace

Uncaught TypeError: Cannot read property 'dataset' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-08-13 23:13] grace-grimwood commented on #56
I second this. Doesn't seem to like braces in commented code at all, friends. Parens are fine, but open braces seem to really grind its gears.

![image](https://user-images.githubusercontent.com/15976368/44062953-9fa93888-9fb2-11e8-8f6d-4dca9631c288.png)

![image](https://user-images.githubusercontent.com/15976368/44062975-b535755e-9fb2-11e8-9d2f-c7058de80370.png)

![image](https://user-images.git

[2018-10-20 19:51] rolzing commented on #40
Still happening and i also want to take the opportunity to say you, thank you for this package.

[2018-10-20 20:10] rolzing opened #58 "IDEA: Add underline between brackets"
I was thinking if this awesome plugin do this, would be probably the best plugin for colorized brackets

![image](https://user-images.githubusercontent.com/12732319/47260082-2401da80-d47a-11e8-9e29-6171eb3c053c.png)

[2018-10-30 12:57] matrixik commented on #58
https://github.com/harai/indent-guide-improved

[2018-11-25 15:59] rzjnzk commented on #40
This is an issue for me as well. Maybe @CaffeinatedTech is onto something, in fact, that is what I suspected before finding this issue.

[2018-12-05 03:40] mikeThurmond commented on #11
closing issue, thanks

[2018-12-05 03:40] #11 closed